$gold: #c79669;
$gray: #d6bb89;

@font-face{
    font-family: Type;
    src: url(./font/type-font.ttf);
}

@mixin box {
    margin: 0 auto;
    width: 1200px;
    color: white;
}

@mixin mainType {
    font-size: 98px;
    font-family: Type;
    color: rgba($color: #ffffff, $alpha: 0.5);
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body{
    background-image: url(./img/background.png);
}

#nav{
    display: none;
    position: fixed;
    width: 100%;
    background: rgb(6, 15, 32);
    z-index: 9999;

    a{
        text-decoration: none;
        color: $gold;
    }

    #box{
        margin: 30px auto;
        width: 1200px;
        display: grid;
        grid-template-columns: 10% 30% 60%;
        align-items: center;

        #link{
            display: grid;
            grid-template-columns: repeat(5,1fr);

        }
    }
}

#banner{
    width: 100%;
    height: 100vh;
    background-image: url(./img/banner/banner-bg.png);
    background-position: center;
    background-size: cover;
    text-align: center;

    #logo{
        padding-top: 30px;
        height: 68px;

        span{
            padding-left: 15px;
            color: $gold;
        }
    }

    #href{
        position: relative;
        
        a{
            text-decoration: none;
            position: absolute;
            color: $gray;
            font-size: 20px;

            img{
                margin-right: 10px;
            }

            p{
                display: inline;
                opacity: 0;
                transition-duration: 0.3s;
            }

            &:hover{

                p{
                    opacity: 1;
                }
            }

            &:nth-child(1){
                top: 530px;
                left: 790px;
            }

            &:nth-child(2){
                top: 580px;
                left: 1040px;
            }

            &:nth-child(3){
                top: 450px;
                left: 1150px;
            }

            &:nth-child(4){
                top: 510px;
                left: 1350px;
            }

            &:nth-child(5){
                top: 750px;
                left: 1400px;
            }
        }
    }
}

#about{
    @include box;
    margin-top: 200px;
    position: relative;
    margin-bottom: 230px;

    h1{
        @include mainType;
        text-align: right;
    }

    img{
        width: 839px;
        height: 580px;
    }

    #text{
        background-image: url(./img/background.png);
        padding: 50px 25px;
        width: 485px;
        position: absolute;
        bottom: 0;
        right: 0;

        h3{
            font-size: 25px;
            font-weight: normal;
            margin-bottom: 40px;
            letter-spacing: 5px;
        }

        p{
            font-size: 14px;
            font-weight: normal;
            line-height: 1.82;
            letter-spacing: 2.2px;
        }

        div{
            position: absolute;
            right: 40px;
            bottom: 25px;

            #line{
                display: inline;
                width: 95px;
                height: 1px;
                background:#fff;
                position: absolute;
                right: 80px;
                bottom: 10px;
            }

            a{
                font-size: 20px;
                text-decoration: none;
                color: white;
            }
        }
    }
}

#news{
    @include box;
    margin-bottom: 300px;

    h1{
        @include mainType;
        margin-bottom: 60px;
    }

    > div{
        display: grid;
        grid-template-columns: 64% 36%;
        margin-bottom: 8px;

        #text{
            padding: 75px 25px 0px 90px;
            position: relative;
            background-image: url(./img/news/news-bg1.png);

            h3{
               font-size: 30px;
               font-weight: 300;
               letter-spacing: 6px;
               margin-bottom: 40px;
               
               span{
                   font-size: 14px;
                   color: rgba($color: #ffffff, $alpha: 0.5);
                   letter-spacing: 1.4px;
                   position: absolute;
                   right: 25px;
               }
            }

            p{
                font-size: 14px;
                letter-spacing: 1.4px;
                line-height: 1.82;
            }

            #line{
                width: 290px;
                height: 1px;
                background: #fff;
                position: absolute;
                right: 0;
                bottom: 50px;
            }
        }

        &:nth-child(3){
            #text{
                background-image: url(./img/news/news-bg2.png);
            }
        }
    }
}

#menu{
    @include box;
    position: relative;
    margin-bottom: 260px;

    h1{
        @include mainType;
        position: absolute;
        bottom: 572px;
        right: 100px;
    }

    #text{
        padding: 98px 63px;
        width: 530px;
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url(./img/background.png);

        p{
            font-size: 14px;
            line-height: 1.82;
            letter-spacing: 1.4px;
        }

        #line{
            width: 95px;
            height: 1px;
            background: #fff;
            position: absolute;
            bottom: 10px;
            right: 120px;
        }

        a{
            font-size: 20px;
            text-decoration: none;
            position: absolute;
            right: 60px;
            bottom: 0;
            color: white;
        }
    }     
}

#member{
    @include box;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 80px;

    div{

        #text{
            text-align: center;
            padding-top: 36px;

            h3{
                font-size: 25px;
                letter-spacing: 5px;
                margin-bottom: 26px;
            }

            ul{
                list-style: none;
                line-height: 1.82;
                letter-spacing: 1.4px;
            }
        }
    }
}

footer{
    padding-top: 250px;
    text-align: center;

    #connect{
        width: 600px;
        margin: 0 auto 150px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 60px;

        #logo{

            p{
                color: $gold;
                font-size: 20px;
                letter-spacing: 2px;
            }
        }

        #link{
            text-align: left;

            div{
                display: grid;
                grid-template-columns: repeat(2,35px);
                grid-gap: 30px;
            }

            p{
                margin-top: 20px;
                color: white;

                img{
                    margin-right: 15px;
                }
            }
        }
    }

    h5{
        color: white;
        font-size: 13px;
        letter-spacing: 1.3px;
        margin-bottom: 15px;
    }
}

#right{
    position: fixed;
    right: 0;
    bottom: 0;
    // position: relative;
    display: none;


    #totop{
        position: absolute;
        right: 135px;
        bottom: 440px;
    }

    #booking{
        position: absolute;
        right: 120px;
        bottom: 145px;
        text-align: center;
        text-decoration: none;
        color: white;

        p{
            margin: 11px 0;
        }
    }
}