$gold: #c79669;
$gray: #4c4c4c;
$yellow: #d6bb89;

@font-face{
    font-family: Type;
    src: url(./font/type-font.ttf);
}

@mixin box {
    margin: 0 auto;
    width: 1200px;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body{
    background-image: url(./img/background.png);
}

nav{
    position: fixed;
    width: 100%;
    background: rgb(6, 15, 32);
    z-index: 9999;

    a{
        text-decoration: none;
        color: $gold;
    }

    #box{
        margin: 30px auto;
        width: 1200px;
        display: grid;
        grid-template-columns: 10% 30% 60%;
        align-items: center;

        #link{
            display: grid;
            grid-template-columns: repeat(5,1fr);
        }
    }
}

#banner{
    width: 100%;
    background-image: url(./img/about/banner.png);
    padding: 210px 0 140px;
    text-align: center;

    color: white;

    h1{
        font-family: Type;
        font-size: 98px;
        font-weight: 300;
    }
}

#text{
    @include box;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 170px;
    line-height: 1.82;
    letter-spacing: 1.4px;
}

#menu{
    padding: 10px;
    width: 100%;
    height: 960px;
    background: $yellow;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;

    div{
        background: $yellow;

        img{
            width: 100%;
        }
    }

    #bigBox1{
        grid-column: 1 / 3;
        grid-row: 1 / 3;

        img{
            height: 99.5%;
        }
    }

    #bigBox2{
        grid-column: 5 / 7;
        grid-row: 2 / 4;

        img{
            height: 99.5%;
        }
    }
}

#menuLink{
    @include box;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 170px;

    p{
        line-height: 1.82;
        letter-spacing: 1.4px;
    }

    a{
        margin-top: 20px;
        text-decoration: none;
        color: $gold;
        line-height: 1.82;
        letter-spacing: 1.4px;
        font-size: 20px;
    }
}

footer{
    padding-top: 250px;
    text-align: center;

    #connect{
        width: 600px;
        margin: 0 auto 150px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 60px;

        #logo{

            p{
                color: $gold;
                font-size: 20px;
                letter-spacing: 2px;
            }
        }

        #link{
            text-align: left;

            div{
                display: grid;
                grid-template-columns: repeat(2,35px);
                grid-gap: 30px;
            }

            p{
                margin-top: 20px;
                color: white;

                img{
                    margin-right: 15px;
                }
            }
        }
    }

    h5{
        color: white;
        font-size: 13px;
        letter-spacing: 1.3px;
        margin-bottom: 15px;
    }
}

#right{
    // position: fixed;
    // right: 0;
    // bottom: 0;
    position: relative;


    #totop{
        position: absolute;
        right: 135px;
        bottom: 440px;
    }

    #booking{
        position: absolute;
        right: 120px;
        bottom: 145px;
        text-align: center;
        text-decoration: none;
        color: white;

        p{
            margin: 11px 0;
        }
    }
}