$gold: #c79669;

@font-face{
    font-family: Type;
    src: url(./font/type-font.ttf);
}

@mixin box {
    margin: 0 auto;
    width: 1200px;
    color: white;
}

@mixin textBox {
    width: 500px;
    letter-spacing: 1.4px;

    h2{
        font-size: 25px;
        margin-bottom: 20px;
    }

    h4{
        font-size: 14px;
        margin-bottom: 50px;
        line-height: 1.75;
    }

    ul{
        list-style: none;
        line-height: 1.82;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body{
    background-image: url(./img/background.png);
}

nav{
    position: fixed;
    width: 100%;
    background: rgb(6, 15, 32);
    z-index: 9999;

    a{
        text-decoration: none;
        color: $gold;
    }

    #box{
        margin: 30px auto;
        width: 1200px;
        display: grid;
        grid-template-columns: 10% 30% 60%;
        align-items: center;

        #link{
            display: grid;
            grid-template-columns: repeat(5,1fr);
        }
    }
}

#banner{
    width: 100%;
    background-image: url(./img/about/banner.png);
    padding: 210px 0 140px;
    text-align: center;

    color: white;

    h1{
        font-family: Type;
        font-size: 98px;
        font-weight: 300;
    }
}

#member1{
    @include box;
    margin-top: 170px;
    position: relative;

    #sml{
        position: absolute;
        right: 0;
        bottom: -100px;
    }

    #text{
        position: absolute;
        right: 0;
        top: 150px;
        @include textBox;

    }
}

#member2{
    @include box;
    margin-top: 200px;
    position: relative;

    #sml{
        position: absolute;
        top: 400px;
    }
    
    #big{
        position: absolute;
        right: 0;
        top: 0;
    }

    #text{
        position: absolute;
        left: 0;
        top: 0;
        @include textBox;
    }
}

#member3{
    @include box;
    margin-top: 1100px;
    position: relative;

    #big{
        z-index: 5;
    }

    #sml{
        position: absolute;
        right: 0;
        bottom: -100px;
    }

    #text{
        @include textBox;
        position: absolute;
        right: 0;
        top: 150px;
    }
}

footer{
    padding-top: 350px;
    text-align: center;

    #connect{
        width: 600px;
        margin: 0 auto 150px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 60px;

        #logo{

            p{
                color: $gold;
                font-size: 20px;
                letter-spacing: 2px;
            }
        }

        #link{
            text-align: left;

            div{
                display: grid;
                grid-template-columns: repeat(2,35px);
                grid-gap: 30px;
            }

            p{
                margin-top: 20px;
                color: white;

                img{
                    margin-right: 15px;
                }
            }
        }
    }

    h5{
        color: white;
        font-size: 13px;
        letter-spacing: 1.3px;
        margin-bottom: 15px;
    }
}

#right{
    position: relative;


    #totop{
        position: absolute;
        right: 135px;
        bottom: 440px;
    }

    #booking{
        position: absolute;
        right: 120px;
        bottom: 145px;
        text-align: center;
        text-decoration: none;
        color: white;

        p{
            margin: 11px 0;
        }
    }
}