@charset "UTF-8";
@font-face {
  font-family: Type;
  src: url(./font/type-font.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(./img/background.png);
}

#banner {
  width: 100%;
  height: 100vh;
  background-image: url(./img/banner/banner-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#banner #logo {
  padding-top: 30px;
  height: 68px;
}

#banner #logo span {
  padding-left: 15px;
  color: #c79669;
}

#banner #href {
  position: relative;
}

#banner #href a {
  text-decoration: none;
  position: absolute;
  color: #d6bb89;
  font-size: 20px;
}

#banner #href a img {
  margin-right: 10px;
}

#banner #href a:nth-child(1) {
  top: 530px;
  left: 790px;
}

#banner #href a:nth-child(2) {
  top: 580px;
  left: 1040px;
}

#banner #href a:nth-child(3) {
  top: 450px;
  left: 1150px;
}

#banner #href a:nth-child(4) {
  top: 510px;
  left: 1350px;
}

#banner #href a:nth-child(5) {
  top: 750px;
  left: 1400px;
}

#about {
  margin: 0 auto;
  width: 1200px;
  color: white;
  margin-top: 200px;
  position: relative;
  margin-bottom: 230px;
}

#about h1 {
  font-size: 98px;
  font-family: Type;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  text-align: right;
}

#about img {
  width: 839px;
  height: 580px;
}

#about #text {
  background-image: url(./img/background.png);
  padding: 50px 25px;
  width: 485px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#about #text h3 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 40px;
  letter-spacing: 5px;
}

#about #text p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.82;
  letter-spacing: 2.2px;
}

#about #text div {
  position: absolute;
  right: 40px;
  bottom: 25px;
}

#about #text div #line {
  display: inline;
  width: 95px;
  height: 1px;
  background: #fff;
  position: absolute;
  right: 80px;
  bottom: 10px;
}

#about #text div a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

#news {
  margin: 0 auto;
  width: 1200px;
  color: white;
  margin-bottom: 300px;
}

#news h1 {
  font-size: 98px;
  font-family: Type;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  margin-bottom: 60px;
}

#news > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 64% 36%;
      grid-template-columns: 64% 36%;
  margin-bottom: 8px;
}

#news > div #text {
  padding: 75px 25px 0px 90px;
  position: relative;
  background-image: url(./img/news/news-bg1.png);
}

#news > div #text h3 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
  margin-bottom: 40px;
}

#news > div #text h3 span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1.4px;
  position: absolute;
  right: 25px;
}

#news > div #text p {
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 1.82;
}

#news > div #text #line {
  width: 290px;
  height: 1px;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 50px;
}

#news > div:nth-child(3) #text {
  background-image: url(./img/news/news-bg2.png);
}

#menu {
  margin: 0 auto;
  width: 1200px;
  color: white;
  position: relative;
  margin-bottom: 260px;
}

#menu h1 {
  font-size: 98px;
  font-family: Type;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  position: absolute;
  bottom: 572px;
  right: 100px;
}

#menu #text {
  padding: 98px 63px;
  width: 530px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(./img/background.png);
}

#menu #text p {
  font-size: 14px;
  line-height: 1.82;
  letter-spacing: 1.4px;
}

#menu #text #line {
  width: 95px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 10px;
  right: 120px;
}

#menu #text a {
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  right: 60px;
  bottom: 0;
  color: white;
}

#member {
  margin: 0 auto;
  width: 1200px;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
}

#member div #text {
  text-align: center;
  padding-top: 36px;
}

#member div #text h3 {
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 26px;
}

#member div #text ul {
  list-style: none;
  line-height: 1.82;
  letter-spacing: 1.4px;
}

footer {
  padding-top: 250px;
  text-align: center;
}

footer #connect {
  width: 600px;
  margin: 0 auto 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
}

footer #connect #logo p {
  color: #c79669;
  font-size: 20px;
  letter-spacing: 2px;
}

footer #connect #link {
  text-align: left;
}

footer #connect #link div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (35px)[2];
      grid-template-columns: repeat(2, 35px);
  grid-gap: 30px;
}

footer #connect #link p {
  margin-top: 20px;
  color: white;
}

footer #connect #link p img {
  margin-right: 15px;
}

footer h5 {
  color: white;
  font-size: 13px;
  letter-spacing: 1.3px;
  margin-bottom: 15px;
}

#right {
  position: relative;
}

#right #totop {
  position: absolute;
  right: 135px;
  bottom: 440px;
}

#right #booking {
  position: absolute;
  right: 120px;
  bottom: 145px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#right #booking p {
  margin: 11px 0;
}
/*# sourceMappingURL=style.css.map */