$gold: #c79669;
$yellow: #a1895c;
$blue: #253856;

@font-face{
    font-family: Type;
    src: url(./font/type-font.ttf);
}

@mixin box {
    margin: 0 auto;
    width: 1200px;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body{
    background-image: url(./img/background.png);
}

nav{
    position: fixed;
    width: 100%;
    background: rgb(6, 15, 32);
    z-index: 9999;

    a{
        text-decoration: none;
        color: $gold;
    }

    #box{
        margin: 30px auto;
        width: 1200px;
        display: grid;
        grid-template-columns: 10% 30% 60%;
        align-items: center;

        #link{
            display: grid;
            grid-template-columns: repeat(5,1fr);
        }
    }
}

#banner{
    width: 100%;
    background-image: url(./img/about/banner.png);
    padding: 210px 0 140px;
    text-align: center;

    color: white;

    h1{
        font-family: Type;
        font-size: 98px;
        font-weight: 300;
    }
}

#news{
    @include box;
    margin-top: 160px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px;
    
    div{
        position: relative;

        img{
            width: 100%;
        }
        
        #text{
            padding: 20px 30px;
            color: white;
            width: 360px;
            background: $blue;
            position: absolute;
            left: 15px;
            bottom: -90px;

            p{
                font-size: 12px;
                font-weight: 200;
                margin-bottom: 20px;
                font-style: italic;
            }

            h4{
                font-size: 24px;
                font-weight: 300;
            }

            &:hover{
                background: $yellow;
                color: black;

                h4{
                    font-weight: 350;
                }
            }
        }
    }
}

#oldNews{
    @include box;
    margin-top: 200px;
    position: relative;

    #slide{

        > div{

            #infor{

                display: grid;
                grid-template-columns: 46.5% 0.02% 53.48% ;
                grid-gap: 40px;
                
                #info1{
                    display: grid;
                    grid-template-columns: 45% 55%;
                    grid-gap: 10px;
                    margin-bottom: 80px;

                    #text{
                        padding-top: 20px;

                        h3{
                            font-size: 12px;
                            font-style: italic;
                            margin-bottom: 20px;
                        }

                        p{
                            font-size: 18px;
                        }
                    }
                }
    
                #line{
                    width: 2px;
                    height: 450px;
                    background: $gold;
                }

                #info2{
                    display: grid;
                    grid-template-columns: 40% 60%;
                    grid-gap: 10px;
                    margin-bottom: 80px;

                    #text{
                        padding-top: 20px;

                        h3{
                            font-size: 12px;
                            font-style: italic;
                            margin-bottom: 20px;
                        }

                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    #page{
        text-align: center;

        a{
            text-decoration: none;
            color: white;
        }

        #prev{
            position: absolute;
            bottom: -23px;
            left: 500px;
        }

        #next{
            position: absolute;
            bottom: -23px;
            right: 500px;
        }
    }
}

footer{
    padding-top: 250px;
    text-align: center;

    #connect{
        width: 600px;
        margin: 0 auto 150px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 60px;

        #logo{

            p{
                color: $gold;
                font-size: 20px;
                letter-spacing: 2px;
            }
        }

        #link{
            text-align: left;

            div{
                display: grid;
                grid-template-columns: repeat(2,35px);
                grid-gap: 30px;
            }

            p{
                margin-top: 20px;
                color: white;

                img{
                    margin-right: 15px;
                }
            }
        }
    }

    h5{
        color: white;
        font-size: 13px;
        letter-spacing: 1.3px;
        margin-bottom: 15px;
    }
}

#right{
    position: relative;


    #totop{
        position: absolute;
        right: 135px;
        bottom: 440px;
    }

    #booking{
        position: absolute;
        right: 120px;
        bottom: 145px;
        text-align: center;
        text-decoration: none;
        color: white;

        p{
            margin: 11px 0;
        }
    }
}